<a href="https://colab.research.google.com/github/n3rdankit/Data-Science-and-Machine-Learning/blob/main/Industrial_Human_Resource_Geo_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Industrial_Human_Resource_Geo-Visualization

Steps

1. Loading the data
2. Descriptive Statistics
3. Data Cleaning
4. Data Analysis and Transformation

Load and Merge all the csv data file provided to you and create dataframe

In [4]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os

In [7]:
path_dir = '/content/drive/MyDrive/Data Sets/'
for files in os.listdir(path_dir):
  print(files)

DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv
DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv
DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv
DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv
DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv
DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv
DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv
DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv
DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv
DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv
DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv
DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv
DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv
DDW_B18sc_1600_NIC_FINAL_STATE_TRIPURA-2011.csv
DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv
DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv
DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv
DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv
DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv
DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv
DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv
DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv
DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv
Industrial_Human_Resource_Geo-Visualization.ipynb

In [8]:
FinalDf=pd.DataFrame()

for files in os.listdir(path_dir):
  DataFrame=pd.read_csv('/content/drive/MyDrive/Data Sets/' + files, encoding = 'ISO-8859-1')
  FinalDf=pd.concat([FinalDf,DataFrame])

In [9]:
FinalDf

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,source:[],"metadata:{""id"":""W3bc0ZweKrlH""}",execution_count:null.30,outputs:[]}],"metadata:{""colab"":{""provenance"":[{""file_id"":""19FreXkjBH8amFYL61ILiDrcRSN93dfpl""",timestamp:1676189091897}]},"kernelspec:{""display_name"":""Python 3""","name:""python3""}}",nbformat:4,nbformat_minor:0}
0,B0218SC,`33,`000,STATE - TAMIL NADU,`00,`000,`0000,Total,2568994.0,1849620.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`000,`0000,"Crop and animal production, hunting and relate...",139687.0,78418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0000,Growing of non-perennial crops,770.0,503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",88.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0112,Growing of rice,12.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18176,B0218SC,`27,`531,District - Sangli,`99,`000,`0000,Activities of extraterritorial organizations a...,4684.0,2278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18177,B0218SC,`27,`531,District - Sangli,`99,`991,`0000,Blank,3120.0,1850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18178,B0218SC,`27,`531,District - Sangli,`99,`991,`9910,Blank,3120.0,1850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18179,B0218SC,`27,`531,District - Sangli,`99,`992,`0000,Incomplete description/ Wrongly Classifed,1564.0,428.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18180,B0218SC,`27,`531,District - Sangli,`99,`992,`9920,Incomplete description/ Wrongly Classifed,1564.0,428.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 The classical machine learning tasks like Data Exploration, Data Cleaning, Feature Engineering, Model Building and Model Testing.

In [10]:
FinalDf.head()

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,source:[],"metadata:{""id"":""W3bc0ZweKrlH""}",execution_count:null.30,outputs:[]}],"metadata:{""colab"":{""provenance"":[{""file_id"":""19FreXkjBH8amFYL61ILiDrcRSN93dfpl""",timestamp:1676189091897}]},"kernelspec:{""display_name"":""Python 3""","name:""python3""}}",nbformat:4,nbformat_minor:0}
0,B0218SC,`33,`000,STATE - TAMIL NADU,`00,`000,`0000,Total,2568994.0,1849620.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`000,`0000,"Crop and animal production, hunting and relate...",139687.0,78418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0000,Growing of non-perennial crops,770.0,503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",88.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B0218SC,`33,`000,STATE - TAMIL NADU,`01,`011,`0112,Growing of rice,12.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
FinalDf.tail()

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,source:[],"metadata:{""id"":""W3bc0ZweKrlH""}",execution_count:null.30,outputs:[]}],"metadata:{""colab"":{""provenance"":[{""file_id"":""19FreXkjBH8amFYL61ILiDrcRSN93dfpl""",timestamp:1676189091897}]},"kernelspec:{""display_name"":""Python 3""","name:""python3""}}",nbformat:4,nbformat_minor:0}
18176,B0218SC,`27,`531,District - Sangli,`99,`000,`0000,Activities of extraterritorial organizations a...,4684.0,2278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18177,B0218SC,`27,`531,District - Sangli,`99,`991,`0000,Blank,3120.0,1850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18178,B0218SC,`27,`531,District - Sangli,`99,`991,`9910,Blank,3120.0,1850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18179,B0218SC,`27,`531,District - Sangli,`99,`992,`0000,Incomplete description/ Wrongly Classifed,1564.0,428.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18180,B0218SC,`27,`531,District - Sangli,`99,`992,`9920,Incomplete description/ Wrongly Classifed,1564.0,428.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
FinalDf.describe()

,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
count,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,195145.000000,195145.000000
mean,1.492138e+03,1.193171e+03,2.989664e+02,6.606187e+02,5.170353e+02,1.435834e+02,8.315188e+02,6.761358e+02,1.553830e+02,3.642672e+02,1.826322e+02,1.816350e+02,2.502286e+02,1.165241e+02,1.337045e+02,1.140386e+02,66.108094,47.930472
std,4.568169e+04,3.773917e+04,8.582019e+03,2.044436e+04,1.654295e+04,4.314446e+03,2.586781e+04,2.167339e+04,4.531593e+03,1.176940e+04,5.760575e+03,6.309699e+03,8.232274e+03,3.723078e+03,4.748460e+03,3.842889e+03,2132.581727,1803.271234
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,6.000000e+00,6.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.800000e+01,2.300000e+01,3.000000e+00,1.200000e+01,8.000000e+00,0.000000e+00,1.200000e+01,9.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,1.880000e+02,1.450000e+02,2.400000e+01,7.400000e+01,5.600000e+01,8.000000e+00,8.600000e+01,6.700000e+01,1.200000e+01,2.800000e+01,1.800000e+01,6.000000e+00,1.400000e+01,8.000000e+00,3.000000e+00,9.000000e+00,6.000000,2.000000
max,1.561976e+07,1.280140e+07,2.818356e+06,6.770444e+06,5.446541e+06,1.323903e+06,8.849315e+06,7.354862e+06,1.494453e+06,3.834122e+06,1.966750e+06,1.867372e+06,2.515182e+06,1.223824e+06,1.291358e+06,1.318940e+06,742926.000000,576014.000000

In [13]:
FinalDf.dtypes

Table Name                               object
State Code                               object
District Code                            object
India/States                             object
Division                                 object
                                          ...
timestamp:1676189091897}]}               object
kernelspec:{"display_name":"Python 3"    object
name:"python3"}}                         object
nbformat:4                               object
nbformat_minor:0}                        object
Length: 1513, dtype: object

In [14]:
FinalDf.shape

(195145, 1513)

In [15]:
FinalDf.size

295254385

In [16]:
FinalDf.sample(n=500)

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,source:[],"metadata:{""id"":""W3bc0ZweKrlH""}",execution_count:null.30,outputs:[]}],"metadata:{""colab"":{""provenance"":[{""file_id"":""19FreXkjBH8amFYL61ILiDrcRSN93dfpl""",timestamp:1676189091897}]},"kernelspec:{""display_name"":""Python 3""","name:""python3""}}",nbformat:4,nbformat_minor:0}
9683,B0218SC,`29,`573,District - Mandya,`46,`464,`0000,Wholesale of household goods,20.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10999,B0218SC,`29,`576,District - Kodagu,`25,`259,`2591,"Forging, pressing, stamping and roll-forming o...",2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13728,B0218SC,`33,`626,District - Ramanathapuram,`56,`562,`5629,Other food service activities,6.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,B0318ST,`21,`000,STATE - ODISHA,`16,`162,`1623,Manufacture of wooden containers,13812.0,3731.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3617,B0118,`15,`288,District - Saiha,`01,`016,`0161,Support activities for crop production,38.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,B0218SC,`27,`499,District - Jalgaon,`81,`813,`8130,Landscape care and maintenance service activities,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11371,B0118,`08,`115,District - Barmer,`69,`000,`0000,Legal and accounting activities,878.0,850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5714,B0218SC,`24,`479,District - Junagadh,`41,`410,`4100,Construction of buildings,6256.0,5960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,B0318ST,`21,`000,STATE - ODISHA,`95,`951,`0000,Repair of computers and communication equipment,89.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7035,B0318ST,`21,`386,District - Khordha,`02,`023,`0230,Gathering of non-wood forest products,10.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
FinalDf.isnull().sum()

Table Name                                    0
State Code                                    0
District Code                                 0
India/States                                  0
Division                                      0
                                          ...
timestamp:1676189091897}]}               195145
kernelspec:{"display_name":"Python 3"    195145
name:"python3"}}                         195145
nbformat:4                               195145
nbformat_minor:0}                        195145
Length: 1513, dtype: int64

In [18]:
FinalDf.duplicated().sum()

0

In [19]:
FinalDf.rename(columns = {'India/States':'States'}, inplace = True)

In [20]:
FinalDf.States.unique()

array(['STATE - TAMIL NADU', 'District - Thiruvallur',
       'District - Chennai', 'District - Kancheepuram',
       'District - Vellore', 'District - Tiruvannamalai',
       'District - Viluppuram', 'District - Salem', 'District - Namakkal',
       'District - Erode', 'District - The Nilgiris',
       'District - Dindigul', 'District - Karur',
       'District - Tiruchirappalli', 'District - Perambalur',
       'District - Ariyalur', 'District - Cuddalore',
       'District - Nagapattinam', 'District - Thiruvarur',
       'District - Thanjavur', 'District - Pudukkottai',
       'District - Sivaganga', 'District - Madurai', 'District - Theni',
       'District - Virudhunagar', 'District - Ramanathapuram',
       'District - Thoothukkudi', 'District - Tirunelveli',
       'District - Kanniyakumari', 'District - Dharmapuri',
       'District - Krishnagiri', 'District - Coimbatore',
       'District - Tiruppur', 'STATE - KERALA', 'District - Kasaragod',
       'District - Kannur', 'District - Wayanad', 'District - Kozhikode',
       'District - Malappuram', 'District - Palakkad',
       'District - Thrissur', 'District - Ernakulam', 'District - Idukki',
       'District - Kottayam', 'District - Alappuzha',
       'District - Pathanamthitta', 'District - Kollam',
       'District - Thiruvananthapuram', 'STATE - KARNATAKA',
       'District - Belgaum', 'District - Bagalkot', 'District - Bijapur',
       'District - Bidar', 'District - Raichur', 'District - Koppal',
       'District - Gadag', 'District - Dharwad',
       'District - Uttara Kannada', 'District - Haveri',
       'District - Bellary', 'District - Chitradurga',
       'District - Davanagere', 'District - Shimoga', 'District - Udupi',
       'District - Chikmagalur', 'District - Tumkur',
       'District - Bangalore', 'District - Mandya', 'District - Hassan',
       'District - Dakshina Kannada', 'District - Kodagu',
       'District - Mysore', 'District - Chamarajanagar',
       'District - Gulbarga', 'District - Yadgir', 'District - Kolar',
       'District - Chikkaballapura', 'District - Bangalore Rural',
       'District - Ramanagara', 'STATE - GOA', 'District - North Goa',
       'District - South Goa', 'STATE - PUDUCHERRY', 'District - Yanam',
       'District - Puducherry', 'District - Mahe', 'District - Karaikal',
       'STATE - MANIPUR', 'District - Senapati', 'District - Tamenglong',
       'District - Churachandpur', 'District - Bishnupur',
       'District - Thoubal', 'District - Imphal West',
       'District - Imphal East', 'District - Ukhrul',
       'District - Chandel', 'STATE - RAJASTHAN', 'District - Ganganagar',
       'District - Hanumangarh', 'District - Bikaner', 'District - Churu',
       'District - Jhunjhunun', 'District - Alwar',
       'District - Bharatpur', 'District - Dhaulpur',
       'District - Karauli', 'District - Sawai Madhopur',
       'District - Dausa', 'District - Jaipur', 'District - Sikar',
       'District - Nagaur', 'District - Jodhpur', 'District - Jaisalmer',
       'District - Barmer', 'District - Jalor', 'District - Sirohi',
       'District - Pali', 'District - Ajmer', 'District - Tonk',
       'District - Bundi', 'District - Bhilwara', 'District - Rajsamand',
       'District - Dungarpur', 'District - Banswara',
       'District - Chittaurgarh', 'District - Kota', 'District - Baran',
       'District - Jhalawar', 'District - Udaipur',
       'District - Pratapgarh', 'STATE - UTTAR PRADESH',
       'District - Saharanpur', 'District - Muzaffarnagar',
       'District - Bijnor', 'District - Moradabad', 'District - Rampur',
       'District - Jyotiba Phule Nagar', 'District - Meerut',
       'District - Baghpat', 'District - Ghaziabad',
       'District - Gautam Buddha Nagar', 'District - Bulandshahr',
       'District - Aligarh', 'District - Mahamaya Nagar',
       'District - Mathura', 'District - Agra', 'District - Firozabad',
       'District - Mainpuri', 'District - Budaun', 'District - Bareilly',
       'District - Pilibhit', 'District - Shahjahanpur',
       'District - Kheri', 'District - Sitapur', 'District - Hardoi',
       'District - Unnao', 'District - Lucknow', 'District - Rae Bareli',
       'District - Farrukhabad', 'District - Kannauj',
       'District - Etawah', 'District - Auraiya',
       'District - Kanpur Dehat', 'District - Kanpur Nagar',
       'District - Jalaun', 'District - Jhansi', 'District - Lalitpur',
       'District - Hamirpur', 'District - Mahoba', 'District - Banda',
       'District - Chitrakoot', 'District - Fatehpur',
       'District - Kaushambi', 'District - Allahabad',
       'District - Bara Banki', 'District - Faizabad',
       'District - Ambedkar Nagar', 'District - Sultanpur',
       'District - Bahraich', 'District - Shrawasti',
       'District - Balrampur', 'District - Gonda',
       'District - Siddharthnagar', 'District - Basti',
       'District - Sant Kabir Nagar', 'District - Mahrajganj',
       'District - Gorakhpur', 'District - Kushinagar',
       'District - Deoria', 'District - Azamgarh', 'District - Mau',
       'District - Ballia', 'District - Jaunpur', 'District - Ghazipur',
       'District - Chandauli', 'District - Varanasi',
       'District - Sant Ravidas Nagar (Bhadohi)', 'District - Mirzapur',
       'District - Sonbhadra', 'District - Etah',
       'District - Kanshiram Nagar', 'STATE - ODISHA',
       'District - Bargarh', 'District - Jharsuguda',
       'District - Sambalpur', 'District - Debagarh',
       'District - Sundargarh', 'District - Kendujhar',
       'District - Mayurbhanj', 'District - Baleshwar',
       'District - Bhadrak', 'District - Kendrapara',
       'District - Jagatsinghapur', 'District - Cuttack',
       'District - Jajapur', 'District - Dhenkanal', 'District - Anugul',
       'District - Nayagarh', 'District - Khordha', 'District - Puri',
       'District - Ganjam', 'District - Gajapati', 'District - Kandhamal',
       'District - Baudh', 'District - Subarnapur', 'District - Balangir',
       'District - Nuapada', 'District - Kalahandi',
       'District - Rayagada', 'District - Nabarangapur',
       'District - Koraput', 'District - Malkangiri',
       'STATE - NCT OF DELHI', 'District - North West',
       'District - North', 'District - North East', 'District - East',
       'District - New Delhi', 'District - Central', 'District - West',
       'District - South West', 'District - South', 'STATE - WEST BENGAL',
       'District - Darjiling', 'District - Jalpaiguri',
       'District - Koch Bihar', 'District - Uttar Dinajpur',
       'District - Dakshin Dinajpur', 'District - Maldah',
       'District - Murshidabad', 'District - Birbhum',
       'District - Barddhaman', 'District - Nadia',
       'District - North Twenty Four Parganas', 'District - Hugli',
       'District - Bankura', 'District - Puruliya', 'District - Haora',
       'District - Kolkata', 'District - South Twenty Four Parganas',
       'District - Paschim Medinipur', 'District - Purba Medinipur',
       'STATE - SIKKIM', 'District - North  District',
       'District - West District', 'District - South District',
       'District - East District', 'STATE - MIZORAM', 'District - Mamit',
       'District - Kolasib', 'District - Aizawl', 'District - Champhai',
       'District - Serchhip', 'District - Lunglei',
       'District - Lawngtlai', 'District - Saiha', 'STATE - TRIPURA',
       'District - West Tripura', 'District - South Tripura',
       'District - Dhalai', 'District - North Tripura',
       'STATE - JHARKHAND', 'District - Garhwa', 'District - Chatra',
       'District - Kodarma', 'District - Giridih', 'District - Deoghar',
       'District - Godda', 'District - Sahibganj', 'District - Pakur',
       'District - Dhanbad', 'District - Bokaro', 'District - Lohardaga',
       'District - Purbi Singhbhum', 'District - Palamu',
       'District - Latehar', 'District - Hazaribagh',
       'District - Ramgarh', 'District - Dumka', 'District - Jamtara',
       'District - Ranchi', 'District - Khunti', 'District - Gumla',
       'District - Simdega', 'District - Pashchimi Singhbhum',
       'District - Saraikela-Kharsawan', 'STATE - ARUNACHAL PRADESH',
       'District - Tawang', 'District - West Kameng',
       'District - East Kameng', 'District - Papum Pare',
       'District - Upper Subansiri', 'District - West Siang',
       'District - East Siang', 'District - Upper Siang',
       'District - Changlang', 'District - Tirap',
       'District - Lower Subansiri', 'District - Kurung Kumey',
       'District - Dibang Valley', 'District - Lower Dibang Valley',
       'District - Lohit', 'District - Anjaw', 'STATE - GUJARAT',
       'District - Kachchh', 'District - Banas Kantha',
       'District - Patan', 'District - Mahesana',
       'District - Sabar Kantha', 'District - Gandhinagar',
       'District - Ahmadabad', 'District - Surendranagar',
       'District - Rajkot', 'District - Jamnagar', 'District - Porbandar',
       'District - Junagadh', 'District - Amreli', 'District - Bhavnagar',
       'District - Anand', 'District - Kheda', 'District - Panch Mahals',
       'District - Dohad', 'District - Vadodara', 'District - Narmada',
       'District - Bharuch', 'District - The Dangs', 'District - Navsari',
       'District - Valsad', 'District - Surat', 'District - Tapi',
       'STATE - NAGALAND', 'District - Mon', 'District - Mokokchung',
       'District - Zunheboto', 'District - Wokha', 'District - Dimapur',
       'District - Phek', 'District - Tuensang', 'District - Longleng',
       'District - Kiphire', 'District - Kohima', 'District - Peren',
       'STATE - ASSAM', 'District - Kokrajhar', 'District - Dhubri',
       'District - Goalpara', 'District - Barpeta', 'District - Morigaon',
       'District - Nagaon', 'District - Sonitpur', 'District - Lakhimpur',
       'District - Dhemaji', 'District - Tinsukia',
       'District - Dibrugarh', 'District - Sivasagar',
       'District - Jorhat', 'District - Golaghat',
       'District - Karbi Anglong', 'District - Dima Hasao',
       'District - Cachar', 'District - Karimganj',
       'District - Hailakandi', 'District - Bongaigaon',
       'District - Chirang', 'District - Kamrup',
       'District - Kamrup Metropolitan', 'District - Nalbari',
       'District - Baksa', 'District - Darrang', 'District - Udalguri',
       'STATE - HIMACHAL PRADESH', 'District - Chamba',
       'District - Kangra', 'District - Lahul & Spiti',
       'District - Kullu', 'District - Mandi', 'District - Una',
       'District - Bilaspur', 'District - Solan', 'District - Sirmaur',
       'District - Shimla', 'District - Kinnaur', 'STATE - UTTARAKHAND',
       'District - Uttarkashi', 'District - Chamoli',
       'District - Rudraprayag', 'District - Tehri Garhwal',
       'District - Dehradun', 'District - Garhwal',
       'District - Pithoragarh', 'District - Bageshwar',
       'District - Almora', 'District - Champawat', 'District - Nainital',
       'District - Udham Singh Nagar', 'District - Hardwar',
       'STATE - BIHAR', 'District - Pashchim Champaran',
       'District - Purba Champaran', 'District - Sheohar',
       'District - Sitamarhi', 'District - Madhubani',
       'District - Supaul', 'District - Araria', 'District - Kishanganj',
       'District - Purnia', 'District - Katihar', 'District - Madhepura',
       'District - Saharsa', 'District - Darbhanga',
       'District - Muzaffarpur', 'District - Gopalganj',
       'District - Siwan', 'District - Saran', 'District - Vaishali',
       'District - Samastipur', 'District - Begusarai',
       'District - Khagaria', 'District - Bhagalpur', 'District - Banka',
       'District - Munger', 'District - Lakhisarai',
       'District - Sheikhpura', 'District - Nalanda', 'District - Patna',
       'District - Bhojpur', 'District - Buxar',
       'District - Kaimur (Bhabua)', 'District - Rohtas',
       'District - Aurangabad', 'District - Gaya', 'District - Nawada',
       'District - Jamui', 'District - Jehanabad', 'District - Arwal',
       'STATE - MAHARASHTRA', 'District - Nandurbar', 'District - Dhule',
       'District - Jalgaon', 'District - Buldana', 'District - Akola',
       'District - Washim', 'District - Amravati', 'District - Wardha',
       'District - Nagpur', 'District - Bhandara', 'District - Gondiya',
       'District - Gadchiroli', 'District - Chandrapur',
       'District - Yavatmal', 'District - Nanded', 'District - Hingoli',
       'District - Parbhani', 'District - Jalna', 'District - Nashik',
       'District - Thane', 'District - Mumbai Suburban',
       'District - Mumbai', 'District - Raigarh', 'District - Pune',
       'District - Ahmadnagar', 'District - Bid', 'District - Latur',
       'District - Osmanabad', 'District - Solapur', 'District - Satara',
       'District - Ratnagiri', 'District - Sindhudurg',
       'District - Kolhapur', 'District - Sangli'], dtype=object)

In [21]:
FinalDf.States.value_counts()

STATE - WEST BENGAL                      749
STATE - RAJASTHAN                        748
District - North Twenty Four Parganas    743
STATE - KARNATAKA                        741
STATE - TAMIL NADU                       736
                                        ...
District - Kaushambi                      12
District - Mahe                           12
District - Kannauj                        10
District - Mainpuri                        9
District - Baghpat                         4
Name: States, Length: 491, dtype: int64

In [22]:
FinalDf.columns

Index(['Table Name', 'State Code', 'District Code', 'States', 'Division',
       'Group', 'Class', 'NIC Name', 'Main Workers - Total -  Persons',
       'Main Workers - Total - Males',
       ...
       'source:[]', 'metadata:{"id":"W3bc0ZweKrlH"}',
       'execution_count:null.30', 'outputs:[]}]',
       'metadata:{"colab":{"provenance":[{"file_id":"19FreXkjBH8amFYL61ILiDrcRSN93dfpl"',
       'timestamp:1676189091897}]}', 'kernelspec:{"display_name":"Python 3"',
       'name:"python3"}}', 'nbformat:4', 'nbformat_minor:0}'],
      dtype='object', length=1513)

In [23]:
df = pd.DataFrame(FinalDf.States.value_counts())

In [24]:
df

                                       States
STATE - WEST BENGAL                       749
STATE - RAJASTHAN                         748
District - North Twenty Four Parganas     743
STATE - KARNATAKA                         741
STATE - TAMIL NADU                        736
...                                       ...
District - Kaushambi                       12
District - Mahe                            12
District - Kannauj                         10
District - Mainpuri                         9
District - Baghpat                          4

[491 rows x 1 columns]

In [25]:
FinalDf.rename(columns = {'NIC Name':'NICName'}, inplace = True)

In [26]:
FinalDf.NICName.value_counts()

Construction of buildings                                      1446
Activities of households as employers of domestic personnel    1308
Manufacture of furniture                                       1239
Water collection, treatment and supply                         1194
Veterinary activities                                          1119
                                                               ...
Renting and leasing of recreational and sports goods             21
Growing of grapes                                                17
Growing of tobacco                                               16
Building of pleasure and sporting boats                          14
Mining of uranium and thorium ores                                4
Name: NICName, Length: 587, dtype: int64

In [27]:
FinalDf.Division.value_counts()

`47    12246
`01     8356
`10     7015
`46     6241
`85     5553
       ...
`70      503
`98      496
`00      494
`92      408
`39      330
Name: Division, Length: 89, dtype: int64

In [28]:
FinalDf.Class.value_counts()

`0000    96924
`9910      486
`9920      483
`4100      482
`8411      476
         ...
`2660       18
`0121       17
`0115       16
`3012       14
`0721        4
Name: Class, Length: 423, dtype: int64

In [29]:
FinalDf.Group.value_counts()

`000    31682
`239     2479
`014     2250
`107     2236
`331     1969
        ...
`652       70
`774       60
`182       50
`383       48
`266       36
Name: Group, Length: 241, dtype: int64

In [30]:
FinalDf.rename(columns = {'Table Name':'TableName'}, inplace = True)

In [31]:
FinalDf.TableName.value_counts()

B0218SC    90266
B0318ST    54041
B0118      50838
Name: TableName, dtype: int64

In [32]:
FinalDf["Main Workers - Total - Males"].value_counts()

2.0        14722
6.0        14428
0.0        13491
12.0        6456
3.0         6314
           ...
6436.0         1
25912.0        1
25310.0        1
17438.0        1
3308.0         1
Name: Main Workers - Total - Males, Length: 7811, dtype: int64

In [33]:
FinalDf.States.str.split("-")

0        [STATE ,  TAMIL NADU]
1        [STATE ,  TAMIL NADU]
2        [STATE ,  TAMIL NADU]
3        [STATE ,  TAMIL NADU]
4        [STATE ,  TAMIL NADU]
                 ...
18176     [District ,  Sangli]
18177     [District ,  Sangli]
18178     [District ,  Sangli]
18179     [District ,  Sangli]
18180     [District ,  Sangli]
Name: States, Length: 195145, dtype: object

In [34]:
FinalDf.States.str.split("-")[0]

0           [STATE ,  TAMIL NADU]
0               [STATE ,  KERALA]
0            [STATE ,  KARNATAKA]
0                  [STATE ,  GOA]
0           [STATE ,  PUDUCHERRY]
0              [STATE ,  MANIPUR]
0            [STATE ,  RAJASTHAN]
0        [STATE ,  UTTAR PRADESH]
0               [STATE ,  ODISHA]
0         [STATE ,  NCT OF DELHI]
0          [STATE ,  WEST BENGAL]
0               [STATE ,  SIKKIM]
0              [STATE ,  MIZORAM]
0              [STATE ,  TRIPURA]
0            [STATE ,  JHARKHAND]
0    [STATE ,  ARUNACHAL PRADESH]
0              [STATE ,  GUJARAT]
0             [STATE ,  NAGALAND]
0                [STATE ,  ASSAM]
0     [STATE ,  HIMACHAL PRADESH]
0          [STATE ,  UTTARAKHAND]
0                [STATE ,  BIHAR]
0          [STATE ,  MAHARASHTRA]
Name: States, dtype: object

In [41]:
FinalDf["state_dump"]=FinalDf.States.str.split("-")

In [38]:
FinalDf["state_head"]

0        [STATE ,  TAMIL NADU]
1        [STATE ,  TAMIL NADU]
2        [STATE ,  TAMIL NADU]
3        [STATE ,  TAMIL NADU]
4        [STATE ,  TAMIL NADU]
                 ...
18176     [District ,  Sangli]
18177     [District ,  Sangli]
18178     [District ,  Sangli]
18179     [District ,  Sangli]
18180     [District ,  Sangli]
Name: state_head, Length: 195145, dtype: object

In [39]:
def stateName(x):
  return x[0]

In [42]:
FinalDf.state_head=FinalDf.state_dump.apply(lambda x:x[0])

In [43]:
FinalDf["state_names"]=FinalDf.state_dump.apply(lambda x:x[1])

In [47]:
FinalDf

,TableName,State Code,District Code,Division,Group,Class,NICName,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,execution_count:null.30,outputs:[]}],"metadata:{""colab"":{""provenance"":[{""file_id"":""19FreXkjBH8amFYL61ILiDrcRSN93dfpl""",timestamp:1676189091897}]},"kernelspec:{""display_name"":""Python 3""","name:""python3""}}",nbformat:4,nbformat_minor:0},state_head,state_names
0,B0218SC,`33,`000,`00,`000,`0000,Total,2568994.0,1849620.0,719374.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATE,TAMIL NADU
1,B0218SC,`33,`000,`01,`000,`0000,"Crop and animal production, hunting and relate...",139687.0,78418.0,61269.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATE,TAMIL NADU
2,B0218SC,`33,`000,`01,`011,`0000,Growing of non-perennial crops,770.0,503.0,267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATE,TAMIL NADU
3,B0218SC,`33,`000,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",88.0,77.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATE,TAMIL NADU
4,B0218SC,`33,`000,`01,`011,`0112,Growing of rice,12.0,6.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATE,TAMIL NADU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18176,B0218SC,`27,`531,`99,`000,`0000,Activities of extraterritorial organizations a...,4684.0,2278.0,2406.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District,Sangli
18177,B0218SC,`27,`531,`99,`991,`0000,Blank,3120.0,1850.0,1270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District,Sangli
18178,B0218SC,`27,`531,`99,`991,`9910,Blank,3120.0,1850.0,1270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District,Sangli
18179,B0218SC,`27,`531,`99,`992,`0000,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District,Sangli
18180,B0218SC,`27,`531,`99,`992,`9920,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District,Sangli

In [46]:
FinalDf=FinalDf.drop(columns=["States","state_dump"], axis=1)

In [61]:
FinalDf.describe()

,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
count,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,195145.000000,195145.000000
mean,1.492138e+03,1.193171e+03,2.989664e+02,6.606187e+02,5.170353e+02,1.435834e+02,8.315188e+02,6.761358e+02,1.553830e+02,3.642672e+02,1.826322e+02,1.816350e+02,2.502286e+02,1.165241e+02,1.337045e+02,1.140386e+02,66.108094,47.930472
std,4.568169e+04,3.773917e+04,8.582019e+03,2.044436e+04,1.654295e+04,4.314446e+03,2.586781e+04,2.167339e+04,4.531593e+03,1.176940e+04,5.760575e+03,6.309699e+03,8.232274e+03,3.723078e+03,4.748460e+03,3.842889e+03,2132.581727,1803.271234
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,6.000000e+00,6.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.800000e+01,2.300000e+01,3.000000e+00,1.200000e+01,8.000000e+00,0.000000e+00,1.200000e+01,9.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,1.880000e+02,1.450000e+02,2.400000e+01,7.400000e+01,5.600000e+01,8.000000e+00,8.600000e+01,6.700000e+01,1.200000e+01,2.800000e+01,1.800000e+01,6.000000e+00,1.400000e+01,8.000000e+00,3.000000e+00,9.000000e+00,6.000000,2.000000
max,1.561976e+07,1.280140e+07,2.818356e+06,6.770444e+06,5.446541e+06,1.323903e+06,8.849315e+06,7.354862e+06,1.494453e+06,3.834122e+06,1.966750e+06,1.867372e+06,2.515182e+06,1.223824e+06,1.291358e+06,1.318940e+06,742926.000000,576014.000000

In [62]:
FinalDf.rename(columns = {'Main Workers - Rural - Persons':'MainWorkersRuralPersons'}, inplace = True)

In [66]:
FinalDf.isnull().sum()

TableName                 0
State Code                0
District Code             0
Division                  0
Group                     0
                      ...
name:"python3"}}     195145
nbformat:4           195145
nbformat_minor:0}    195145
state_head                0
state_names               0
Length: 1514, dtype: int64

In [73]:
pd.set_option('display.max_columns', None)
FinalDf

,TableName,State Code,District Code,Division,Group,Class,NICName,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,state_head,state_names
0,B0218SC,`33,`000,`00,`000,`0000,Total,2568994.0,1849620.0,719374.0,1120556.0,801901.0,318655.0,1448438.0,1047719.0,400719.0,450227.0,248895.0,201332.0,256753.0,137081.0,119672.0,193474.0,111814.0,81660.0,STATE,TAMIL NADU
1,B0218SC,`33,`000,`01,`000,`0000,"Crop and animal production, hunting and relate...",139687.0,78418.0,61269.0,70583.0,40993.0,29590.0,69104.0,37425.0,31679.0,26116.0,13781.0,12335.0,17278.0,9222.0,8056.0,8838.0,4559.0,4279.0,STATE,TAMIL NADU
2,B0218SC,`33,`000,`01,`011,`0000,Growing of non-perennial crops,770.0,503.0,267.0,406.0,269.0,137.0,364.0,234.0,130.0,257.0,87.0,170.0,126.0,48.0,78.0,131.0,39.0,92.0,STATE,TAMIL NADU
3,B0218SC,`33,`000,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",88.0,77.0,11.0,39.0,33.0,6.0,49.0,44.0,5.0,6.0,3.0,3.0,3.0,3.0,0.0,3.0,0.0,3.0,STATE,TAMIL NADU
4,B0218SC,`33,`000,`01,`011,`0112,Growing of rice,12.0,6.0,6.0,9.0,3.0,6.0,3.0,3.0,0.0,48.0,24.0,24.0,0.0,0.0,0.0,48.0,24.0,24.0,STATE,TAMIL NADU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18176,B0218SC,`27,`531,`99,`000,`0000,Activities of extraterritorial organizations a...,4684.0,2278.0,2406.0,3270.0,1564.0,1706.0,1414.0,714.0,700.0,1976.0,680.0,1296.0,1234.0,422.0,812.0,742.0,258.0,484.0,District,Sangli
18177,B0218SC,`27,`531,`99,`991,`0000,Blank,3120.0,1850.0,1270.0,2076.0,1266.0,810.0,1044.0,584.0,460.0,1270.0,550.0,720.0,792.0,336.0,456.0,478.0,214.0,264.0,District,Sangli
18178,B0218SC,`27,`531,`99,`991,`9910,Blank,3120.0,1850.0,1270.0,2076.0,1266.0,810.0,1044.0,584.0,460.0,1270.0,550.0,720.0,792.0,336.0,456.0,478.0,214.0,264.0,District,Sangli
18179,B0218SC,`27,`531,`99,`992,`0000,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,1194.0,298.0,896.0,370.0,130.0,240.0,706.0,130.0,576.0,442.0,86.0,356.0,264.0,44.0,220.0,District,Sangli
18180,B0218SC,`27,`531,`99,`992,`9920,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,1194.0,298.0,896.0,370.0,130.0,240.0,706.0,130.0,576.0,442.0,86.0,356.0,264.0,44.0,220.0,District,Sangli

In [71]:
FinalDf=FinalDf.dropna(axis=1)

In [72]:
FinalDf

,TableName,State Code,District Code,Division,Group,Class,NICName,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,state_head,state_names
0,B0218SC,`33,`000,`00,`000,`0000,Total,2568994.0,1849620.0,719374.0,1120556.0,801901.0,318655.0,1448438.0,1047719.0,400719.0,450227.0,248895.0,201332.0,256753.0,137081.0,119672.0,193474.0,111814.0,81660.0,STATE,TAMIL NADU
1,B0218SC,`33,`000,`01,`000,`0000,"Crop and animal production, hunting and relate...",139687.0,78418.0,61269.0,70583.0,40993.0,29590.0,69104.0,37425.0,31679.0,26116.0,13781.0,12335.0,17278.0,9222.0,8056.0,8838.0,4559.0,4279.0,STATE,TAMIL NADU
2,B0218SC,`33,`000,`01,`011,`0000,Growing of non-perennial crops,770.0,503.0,267.0,406.0,269.0,137.0,364.0,234.0,130.0,257.0,87.0,170.0,126.0,48.0,78.0,131.0,39.0,92.0,STATE,TAMIL NADU
3,B0218SC,`33,`000,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",88.0,77.0,11.0,39.0,33.0,6.0,49.0,44.0,5.0,6.0,3.0,3.0,3.0,3.0,0.0,3.0,0.0,3.0,STATE,TAMIL NADU
4,B0218SC,`33,`000,`01,`011,`0112,Growing of rice,12.0,6.0,6.0,9.0,3.0,6.0,3.0,3.0,0.0,48.0,24.0,24.0,0.0,0.0,0.0,48.0,24.0,24.0,STATE,TAMIL NADU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18176,B0218SC,`27,`531,`99,`000,`0000,Activities of extraterritorial organizations a...,4684.0,2278.0,2406.0,3270.0,1564.0,1706.0,1414.0,714.0,700.0,1976.0,680.0,1296.0,1234.0,422.0,812.0,742.0,258.0,484.0,District,Sangli
18177,B0218SC,`27,`531,`99,`991,`0000,Blank,3120.0,1850.0,1270.0,2076.0,1266.0,810.0,1044.0,584.0,460.0,1270.0,550.0,720.0,792.0,336.0,456.0,478.0,214.0,264.0,District,Sangli
18178,B0218SC,`27,`531,`99,`991,`9910,Blank,3120.0,1850.0,1270.0,2076.0,1266.0,810.0,1044.0,584.0,460.0,1270.0,550.0,720.0,792.0,336.0,456.0,478.0,214.0,264.0,District,Sangli
18179,B0218SC,`27,`531,`99,`992,`0000,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,1194.0,298.0,896.0,370.0,130.0,240.0,706.0,130.0,576.0,442.0,86.0,356.0,264.0,44.0,220.0,District,Sangli
18180,B0218SC,`27,`531,`99,`992,`9920,Incomplete description/ Wrongly Classifed,1564.0,428.0,1136.0,1194.0,298.0,896.0,370.0,130.0,240.0,706.0,130.0,576.0,442.0,86.0,356.0,264.0,44.0,220.0,District,Sangli